@import "mixins.scss";
@import "variables.scss";

@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfont.eot?v4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0")
      format("embedded-opentype"),
    url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"),
    url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  color: $site-color;
  position: relative;
}

.display-none {
  display: none;
}

.pre-loader {
  position: fixed;
  z-index: 5;
  background: $alt-bg;
  width: 100%;
  height: 100%;
  .loader {
    position: absolute;
    width: 150px;
    height: 150px;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
    p {
      font-size: 4em;
      animation: loader 3s infinite;
      overflow: hidden;
      white-space: nowrap;
      border-right: 2px solid $site-bg;
    }
    h6 {
      text-align: center;
      width: 275px;
    }
  }
}
@keyframes loader {
  0% {
    width: 0ch;
  }
  100% {
    width: 8ch;
  }
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
}
.red-color {
  color: $red;
}
.to-top {
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: $site-bg;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: $white;
  text-emphasis: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}
.to-top:hover {
  background: $white;
  color: $site-bg;
}
.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: $white;
}
a:focus,
a:active {
  outline: none;
}
.cta-button {
  color: $white;
  border: 1px solid $cta-color;
  padding: 15px 50px;
  box-sizing: border-box;
  border-radius: 5px;
  background: $cta-color;
}

p {
  line-height: 1.5em;
  font-size: 1.2em;
}

.background-image {
  background-image: url("../img/my-bg.jpg");
  @include background-image;
  min-height: 600px;
}

.footer-section {
  background: $site-bg;
  margin-top: 50px;
  color: $white;
  .align-center {
    display: flex;
    align-items: center;
    min-height: 150px;
    .theme-powered {
      margin-top: 20px;
      p {
        text-align: center;
        font-size: 0.8em;
      }
    }
  }
  .footer-flex {
    display: flex;
    justify-content: space-between;
    div {
      flex: 0 0 45%;
      &:nth-child(2) {
        text-align: right;
        span {
          padding: 0 10px;
        }
      }
    }
  }
}

.blog-home-post-image {
  @include background-image;
  height: 300px;
  width: 100%;
}
.blog-header {
  margin: 20px 0 50px;
}
.blog-posts article {
  margin-bottom: 50px;
  text-align: center;
}
.blog-single-title {
  margin-bottom: 10px;
}
.heateor_sss_sharing_title {
  margin: 20px 0 10px;
}
.blog-entry-title,
.entry-meta {
  margin: 20px 0 10px;
  color: $red;
}

.related {
  margin-top: 20px;
  h4 {
    margin-bottom: 10px;
  }
  h5 {
    margin: 5px 0;
  }
}
.single-wrapper {
  max-width: 800px;
  margin: 0 auto;

  p {
    margin: 20px 0;
  }
}

@media only screen and (min-width: 900px) {
  header {
    position: relative;
    z-index: 2;
    .nav-header-menu {
      background: $site-bg;
      display: flex;
      justify-content: space-between;
      position: fixed;
      height: 100px;
      width: 100%;
      align-items: center;

      .logo {
        flex: 0 0 25%;
        display: flex;
        align-items: center;

        li {
          margin-left: 50px;

          a {
            font-size: 2em;
            img {
              height: 80px;
            }
          }
        }
      }
      .main-menu {
        flex: 0 0 68%;
        display: flex;
        justify-content: flex-end;
        margin-right: 20px;

        li {
          padding: 0 10px;
        }
        a {
          font-size: 1.2em;
        }
      }
    }
  }

  .content {
    position: relative;
    z-index: 1;
    top: 120px;
  }

  .blog-content {
    display: flex;
    justify-content: space-between;
    main {
      flex: 0 0 72%;
    }
    sidebar {
      flex: 0 0 25%;
    }
  }
  .blog-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    article {
      text-align: center;
      &:nth-child(even) {
        flex: 0 0 56%;
      }
      &:nth-child(odd) {
        flex: 0 0 42%;
      }
    }
  }
  .single-wrapper {
    h1 {
      font-size: 2em;
    }
    li {
      margin: 10px 0;
    }
  }
}

@media only screen and (min-width: 200px) and (max-width: 899px) {
  .nav-header-menu {
    background: $site-bg;
    position: relative;
    a {
      color: $white;
    }
    ul.logo {
      display: flex;
      justify-content: space-between;
      padding: 20px;

      li {
        flex: 0 0 20%;
      }
      a {
        font-size: 1.5em;
      }
      .logo-icon {
        flex: 0 0 70%;
        display: flex;
        justify-content: end;
        margin-right: 20px;
        img {
          display: none;
        }
        a {
          display: block;
          position: absolute;
          top: 24px;
          right: 30px;
          background-color: white;
          cursor: pointer;
          width: 30px;
          height: 5px;

          &::before {
            top: -10px;
          }
          &::after {
            top: 11px;
          }

          &::before,
          &::after {
            content: "";
            display: block;
            position: absolute;
            background-color: white;
            cursor: pointer;
            width: 30px;
            height: 5px;
          }
        }
        a.active {
          -webkit-transition: 1s;
          -moz-transition: 1s;
          -o-transition: 1s;
          transition: 1s;
          background: transparent;
          &::before {
            transform: rotate(45deg) translate(40px, -16px);
            -webkit-transform: rotate(45deg) translate(40px, -16px);
            -o-transform: rotate(45deg) translate(40px, -16px);
            -moz-transform: rotate(45deg) translate(40px, -16px);
          }
          &::after {
            -webkit-transform: rotate(-45deg) translate(30px, 25px);
            -o-transform: rotate(-45deg) translate(30px, 25px);
            -moz-transform: rotate(-45deg) translate(30px, 25px);

            transform: rotate(-45deg) translate(30px, 25px);
          }

          &::before,
          &::after {
            right: 30px;
            -webkit-transition: 1s;
            -moz-transition: 1s;
            -o-transition: 1s;
            transition: 1s;
          }
        }
      }
    }
    ul.main-menu {
      display: none;

      margin-top: 20px;
      a {
        padding: 10px 0;
        display: block;
        text-align: center;
        font-size: 1.2em;
        border-bottom: 1px solid #cdc9b25c;

        &:hover {
          background: $site-bg;
          opacity: 0.6;
        }
        &:active {
          background: $site-bg;
          opacity: 0.9;
        }
        &:focus {
          background: $site-bg;
          opacity: 0.6;
        }
      }
    }
  }
  .front-page {
    position: relative;
  }

  .menu-cta {
    display: none;
  }
}

@media (min-width: 560px) and (max-width: 620px) {
  .intro {
    width: 500px;
    h5 {
      font-size: 2em;
    }
  }
}

@media only screen and (min-width: 450px) and (max-width: 619px) {
  .intro {
    width: 400px;
    top: 110px;
    left: 20px;
    h5 {
      font-size: 1.6em;
      line-height: 1.5em;
    }
  }
}
@media only screen and (min-width: 200px) and (max-width: 449px) {
  .intro {
    width: 300px;
    top: 110px;
    left: 10px;
    h5 {
      font-size: 1.1em;
      line-height: 1.5em;
    }
    p {
      font-size: 1.1em;
    }
  }
}
